.information {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    color: white
}



.information-mobile {
    display: none;
}

@media only screen and (max-width: 480px) {
    .information {
        display: none;
    }

    .information-mobile {
        display: flex;
        /* background-color: #000000; */
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin-top: 10%;
    }



    .information-mobile-first-name {
        font-weight: 700;
        font-size: 10vw;
        background: linear-gradient(#FFFFFF, #6C757D);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
    }

    .information-mobile-first-name-dark-mode {
        font-weight: 700;
        font-size: 10vw;
        background: linear-gradient(#000000, #6C757D);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
    }

    .information-mobile-last-name {
        display: flex;
        font-weight: 700;
        font-size: 10vw;
        background: linear-gradient(#FFFFFF, #6C757D);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
    }

    .information-mobile-last-name-dark-mode {
        display: flex;
        font-weight: 700;
        font-size: 10vw;
        background: linear-gradient(#000000, #6C757D);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
    }

    .information-mobile-nick-name {
        display: flex;
        font-weight: 700;
        font-size: 4vw;
        background: linear-gradient(#FFFFFF, #6C757D);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        align-items: center;
        cursor: pointer;

    }

    .information-mobile-nick-name-dark-mode {
        display: flex;
        font-weight: 700;
        font-size: 4vw;
        background: linear-gradient(#000000, #6C757D);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        align-items: center;
        cursor: pointer;

    }

    .information-mobile-image {
        align-items: center;
    }

    .information-mobile-position {
        color: #007AFF;
        font-weight: 700;
        font-size: 7vw;
        font-style: italic;
    }

    .information-mobile-detail {
        color: #CED4DA;
        font-weight: 400;
        font-size: 3vw;
        margin-left: 20px;
        margin-right: 20px;
    }

    .information-mobile-detail-dark-mode {
        color: #000000;
        font-weight: 400;
        font-size: 3vw;
        margin-left: 20px;
        margin-right: 20px;
    }

    .information-mobile-contact {
        display: flex;
        flex-direction: row;
        margin-top: 2vw;
        gap: 1vw;
        justify-content: center;
    }

    .information-mobile-contact-image {
        width: 8vw;
        cursor: pointer;
    }
}


.information-left {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-left: 5vw;
    gap: 10px
}

.information-right {
    height: 70%;
    margin-left: 5vw;
}

.information-first-name {
    font-weight: 700;
    font-size: 6vw;
    background: linear-gradient(#FFFFFF, #6C757D);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}


.information-first-name-dark-mode {
    font-weight: 700;
    font-size: 6vw;
    background: linear-gradient(#000000, #6C757D);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.information-group-last-name-nick-name {
    display: flex;
    padding: 0;
    gap: 10px;

}

.information-last-name {
    display: flex;
    font-weight: 700;
    font-size: 6vw;
    background: linear-gradient(#FFFFFF, #6C757D);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    gap: 10px;

}

.information-first-name-dark-mode {
    display: flex;
    font-weight: 700;
    font-size: 6vw;
    background: linear-gradient(#000000, #6C757D);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    gap: 10px;

}

.information-nick-name {
    display: flex;
    font-weight: 700;
    font-size: 2vw;
    background: linear-gradient(#FFFFFF, #6C757D);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    align-items: center;
    cursor: pointer;

}

.information-nick-name-dark-mode {
    display: flex;
    font-weight: 700;
    font-size: 2vw;
    background: linear-gradient(#000000, #6C757D);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    align-items: center;
    cursor: pointer;

}

.information-nick-name:hover {
    /* content: url('../../images/giphy.gif');
    width: 25%; */
}

/* .information-nick-name:hover {
    opacity: 1;
  } */

.information-position {
    color: #007AFF;
    font-weight: 700;
    font-size: 3vw;
    font-style: italic;

}

.information-detail {
    color: #CED4DA;
    font-weight: 400;
    font-size: 1.5vw;

}

.information-detail-dark-mode {
    color: #6C757D;
    font-weight: 400;
    font-size: 1.5vw;

}

.information-contact {
    display: flex;
    flex-direction: row;
    margin-top: 2vw;
    gap: 1vw;
    object-fit: cover;
}

.information-contact-image {
    width: 5vw;
}

.information-contact-image:hover {
    transform: scale(1.05);
}

.information-image {
    width: 80%;
    object-fit: cover;
    top: 236px;
}



.information-contact {
    display: flex;
    justify-content: flex-start;
}