.experience-topic {
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 3vw;
    background: linear-gradient(to right, #FFFFFF, #6C757D);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    cursor: pointer;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.experience-card {
    display: flex;
    background: #212529;
    flex-direction: column;
    padding: 1%;
    border-radius: 16px;
    width: 80%;
    margin-top: 1%;
}

.experience-card-first {
    display: grid;
    grid-template-columns: 3% auto auto;
    gap: 2%;
    grid-column: 100px;
}

.experience-card-name-image {
    width: 100%;
    object-fit: cover;
    grid-row: 1 / span 2;
}

.experience-card-name-company {
    display: flex;
    font-size: 1.7vw;
    color: #007AFF;
    line-height: 29.26px;
    font-weight: 700;
}

.experience-card-name-company-second {
    display: flex;
    font-size: 1vw;
    color: #CED4DA;
    line-height: 29.26px;
    font-weight: 400;
    margin-top: 1%;
}

.experience-card-period {
    display: flex;
    justify-content: flex-end;
    color: #FFFFFF;
    font-size: 1vw;
}

.experience-card-second {
    font-size: 1.5vw;
    color: #FFFFFF;
    font-style: italic;
    font-weight: 600;
    line-height: 34.13px;
    margin-top: 2%;
}

.experience-card-third {
    display: flex;
    flex-direction: column;
    margin-top: 2%;
}

.experience-card-third-project-name {
    font-size: 1.3vw;
    color: #FFFFFF;
    font-weight: 750;
    line-height: 20px;
    margin-top: 1%;
}

.experience-card-third-project-group-detail {
    display: flex;
    margin-left: 1%;
    flex-direction: column;
    margin-top: 1%;
}

.experience-card-third-project-name-detail {
    font-size: 1.1vw;
    color: #FFFFFF;
    font-weight: 400;
    line-height: 24.38px;
    margin-bottom: 1%;
}