.header {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    color: #CED4DA;
    align-items: center;
}

.header-list {
    display: flex;
    justify-content: flex-end;
    gap: 5%;
    margin-right: 10%;
    font-size: 1.5vw;
    padding: 2%;
    cursor: pointer;
}

.header-mobile {
    display: none;
}

/* Dark Mode */
.header-dark-mode {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    color: #6C757D;
    align-items: center;
    border: 2px solid #FFFFFF;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.header-list-dark-mode {
    display: flex;
    justify-content: flex-end;
    gap: 5%;
    margin-right: 10%;
    font-size: 1.5vw;
    padding: 2%;
    cursor: pointer;
}


/* Mobile  */
@media only screen and (max-width: 480px) {
    .header {
        display: none;
    }

    .header-mobile {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        color: #CED4DA;
        cursor: pointer;
        position: fixed;
        top: 0px;
        width: 100%;
        margin-top: 10px;
    }

    .header-group-top {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        align-items: center;
    }

    .header-image-burger {
        display: flex;
        margin-right: 3%;
        width: 5%;
        cursor: pointer;
    }

    .header-menu {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        background-color: #111;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
    }

    .header-menu-open {
        height: 100%;
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        background-color: #000000;
        width: 50%;
        transition: 0.5s;
        overflow-x: hidden;
    }

    .header-menu-open-dark-mode {
        height: 100%;
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        width: 50%;
        transition: 0.5s;
        overflow-x: hidden;
        background-color: #E9ECEF;
    }

    .header-menu-container {
        display: flex;
        padding: 5%;
        flex-direction: column;
        margin-top: 10%;
    }

    .header-menu-image-close {
        width: 5vw;
        cursor: pointer;
        margin-left: 10%;

    }

    .header-menu-image-icon-close {
        cursor: pointer;
        margin-left: 10%;
        font-size: 1000px;
        color: #000000;
        font-size: large;
    }

    .header-menu-list {
        margin-top: 20%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        color: #CED4DA;
    }

    .header-menu-list-dark-mode {
        margin-top: 20%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        color: #000000;
    }


}