.container-skill {
    display: flex;
    flex-direction: column;
    gap: 3vw;
}

.img-program-db {
    width: 9vw;
}

.img-program-db:hover {
    transform: scale(1.03);
}

.img-framework {
    width: 9vw;
}

.skill-topic {
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 3vw;
    background: linear-gradient(to right, #FFFFFF, #6C757D);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    cursor: pointer;
}

.skill-topic-dark-mode {
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 3vw;
    background: linear-gradient(to right, #000000, #6C757D);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    cursor: pointer;
}

.skill {
    display: grid;
    align-content: center;
    align-self: center;
    grid-template-columns: 50% 50%;
    color: white;
    border: 2px;
    width: 100%;
}

.mobile-skill {
    display: none;
}

.program-lang {
    color: white;
}

.mobile-skill-topic-dark-mode {
    display: none;
}

.mobile-skill-topic {
    display: none;
}

.program-lang-title {
    display: flex;
    justify-content: center;
    color: #007AFF;
    align-items: center;
    font-size: 2vw;
}

.program-lang-icon {
    padding: 3%;
    display: flex;
    justify-content: space-around;
}

.database-title {
    display: flex;
    justify-content: center;
    color: #007AFF;
    align-items: center;
    font-size: 2vw;
}

.framework {
    grid-column: 1 / span 2;
    /* border-style: dotted; */
    display: flex;
    justify-content: center;
    margin-top: 2%;
    flex-direction: column;
}

.framework-title {
    display: flex;
    justify-content: center;
    color: #007AFF;
    align-items: center;
    font-size: 2vw;
}

.framework-lang-icon {
    padding: 3%;
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 480px) {
    .skill {
        display: none;
    }

    .skill-topic {
        display: none;
    }

    .skill-topic-dark-mode {
        display: none;
    }


    .mobile-img-program-db {
        width: 12vw;
    }

    .mobile-img-framework {
        width: 9vw;
    }

    .mobile-skill-topic {
        display: flex;
        justify-content: center;
        font-weight: 700;
        font-size: 5vw;
        background: linear-gradient(to right, #FFFFFF, #6C757D);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        cursor: pointer;
    }

    .mobile-skill-topic-dark-mode {
        display: flex;
        justify-content: center;
        font-weight: 700;
        font-size: 5vw;
        background: linear-gradient(to right, #000000, #6C757D);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        cursor: pointer;
    }

    .mobile-skill {
        display: grid;
        align-content: center;
        align-self: center;
        grid-template-columns: 50% 50%;
        color: white;
        border: 2px;
        width: 100%;
    }

    .mobile-program-lang {
        color: white;
        /* border-style: dotted; */
    }

    .mobile-program-lang-title {
        display: flex;
        justify-content: center;
        color: #007AFF;
        align-items: center;
        font-size: 2.5vw;
    }

    .mobile-program-lang-icon {
        padding: 3%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 2vw;
    }

    .mobile-database-title {
        display: flex;
        justify-content: center;
        color: #007AFF;
        align-items: center;
        font-size: 2.5vw;
    }

    .mobile-framework {
        grid-column: 1 / span 2;
        /* border-style: dotted; */
        display: flex;
        justify-content: center;
        margin-top: 2%;
        flex-direction: column;
    }

    .mobile-framework-title {
        display: flex;
        justify-content: center;
        color: #007AFF;
        align-items: center;
        font-size: 2.5vw;
    }

    .mobile-framework-lang-icon {
        padding: 3%;
        display: flex;
        justify-content: center;
    }
}