.footer {
    display: flex;
    justify-content: center;
    background-color: #0041BF;
    flex-direction: column;
    align-items: center;
    padding: 4%;
    gap: 3vw;
}

.footer-title {
    font-weight: 700;
    font-size: 3vw;
    background: linear-gradient(#FFFFFF, #6C757D);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.footer-information {
    font-size: 1.5vw;
    color: #FFFFFF;
}

.footer-button {
    cursor: pointer;
    background-color: #0041BF;
    border-radius: 28px;
    padding: 1%;
    border-color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.7vw;
    align-items: baseline;
}

.footer-button:hover {
    transform: scale(1.03);
}

.footer-button-text {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 100%;
    /* font-size: 1.5vw; */
}

.footer-button-image {
    width: 10%
}

.footer-word-contact {
    font-weight: 400;
    font-size: 2vw;
    color: #FFFFFF;
}

.footer-contact {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.footer-contact-image {
    width: 5vw;
}

.footer-contact-image:hover {
    transform: scale(1.03);
}