@font-face {
  font-family: 'CustomFont';
  src: url('./fonts/font.ttf') format('truetype');
}

body {
  font-family: 'CustomFont'
}

.App {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  gap: 30px;
  background-color: #000000;
  animation: fadeIn 3s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}