@font-face {
  font-family: 'CustomFont';
  src: url('./fonts/font.ttf') format('truetype');
}

body {
  font-family: 'CustomFont'
}

.App {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.header {
  width: 100%;
  background-color: #000000;
  display: flex;
  justify-content: flex-end;
  color: #CED4DA;
  align-items: center;
}

.header-mobile {
  display: none;
}

.header-list {
  display: flex;
  justify-content: flex-end;
  gap: 5%;
  margin-right: 10%;
  font-size: 1.5vw;
  padding: 2%;
}

@media only screen and (max-width: 480px) {
  .header {
    display: none;
  }

  .header-mobile {
    display: flex;
    justify-content: flex-end;
    background-color: #000000;
    align-items: center;
    padding: 10px;
    color: #CED4DA;
  }

  .header-image-burger {
    display: flex;
    margin-right: 3%;
    width: 4%;
  }
}



.information {
  display: grid;
  grid-template-columns: 50% 50%;
  background-color: #000000;
  width: 100%;
}

.information-left {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin-left: 5vw;
  gap: 10px
}

.information-right {
  height: 70%;
  margin-left: 5vw;
}

.information-first-name {
  font-weight: 700;
  font-size: 6vw;
  background: linear-gradient(to right, #FFFFFF, #6C757D);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.information-group-last-name-nick-name {
  display: flex;
  padding: 0;
  gap: 10px;

}

.information-last-name {
  display: flex;
  font-weight: 700;
  font-size: 6vw;
  background: linear-gradient(to right, #FFFFFF, #6C757D);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  gap: 10px;

}

.information-nick-name {
  display: flex;
  font-weight: 700;
  font-size: 2vw;
  background: linear-gradient(to right, #FFFFFF, #6C757D);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  align-items: center;
  cursor: pointer;

}

.information-nick-name:hover {
  content: url('./images/giphy.gif');
  width: 25%;
  /* display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity 0.3s ease; */
}

/* .information-nick-name:hover {
  opacity: 1;
} */

.information-position {
  color: #007AFF;
  font-weight: 700;
  font-size: 3vw;
  font-style: italic;

}

.information-detail {
  color: #CED4DA;
  font-weight: 400;
  font-size: 1.5vw;

}

.information-image {
  width: 80%;
  object-fit: cover;
  top: 236px;
}

.information-contact {
  display: flex;
  justify-content: flex-start;
}